
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Medium.woff') format('woff'),
        url('TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
        url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Regular.woff') format('woff'),
        url('TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;

}
.wrapper{
    width: 100%;
    font-family:'TT Lakes Compressed';
    background-color: #F8F8F8;
    border-top: 1px solid #D9FFF5;
    margin-top: 5px;
}
.swipper__block{
   margin: 16px 0 0px 16px;
}
.swiper__title{
    font-weight: 400;
    color: #7E7E82;
    font-size: 16px;
    text-transform:uppercase ;

}